<div class="row title">
    <div class="title-main text-center">
        <h1>{{content_title}}</h1>
    </div>
</div>
<div class="container content">
    <div class="row text-center">
        {{#if content_body.sections}}
            <div class="row form-toolbar ">
                <div class="col-md-5 col-sm-3 text-left">
                    <!--<input type="text" class="form-control" placeholder="Search">-->
                    <div class="btn-group">
                        <a href="#" id="list" class="btn btn-default">
                            <i class="fa fa-list-ul"></i> List
                        </a>
                        <a href="#" id="grid" class="btn btn-default">
                            <i class="fa fa-th"></i> Grid
                        </a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="row no-item row-overide">
                <div class="row title">
                    <h2>No {{formTitle}} found..</h2>
                    <a type="button" class="btn btn-primary btn-lg" href="new/">Add New {{formTitle}}</a>
                </div>
            </div>
        {{/if}}
        <div class="row general-table row-overide">
            {{#each content_body.sections}}
                {{#unless loadBalancer}}
                    <a href="{{url ""}}/cartridges/subscribe/{{cartridgeType}}" class="">
                {{/unless}}
                <div class="col-md-4 border-right block grid-group-item ">
                    <div class="toggle-menu-icon">
                        <i class="fa icon-{{cartridgeType}}"></i>
                    </div>

                    {{#if loadBalancer}}
                        <h2>{{displayName}} - {{version}}</h2>
                        <div class="cartridge-description">{{description}}</div>
                        <div class="lb-description">This will be auto subscribed for you</div>

                    {{else}}
                        <h2>{{displayName}} - {{version}}</h2>
                        {{#if multiTenant}}
                            Multi Tenant Enabled
                        {{else}}
                            Single Tenant
                        {{/if}}
                        <div class="toggle-menu-description">{{description}}</div>
                    {{/if}}
                </div>
                {{#unless loadBalancer}}
                </a>
                {{/unless}}
            {{/each}}
        </div>
    </div>
</div>