<div class="row title">
    <div class="title-main text-center">
        <h1>{{content_title}}</h1>
    </div>
</div>
<div class="container content">
    <div class="row text-center">
    {{dump .}}
        <div class="row general-table row-overide">
            {{#each content_body.sections}}
                <div class="block col-md-4 grid-group-item border-right">
                    <div class="toggle-menu-icon">
                        <i class="fa fa-tasks "></i>
                    </div>
                    {{#if loadBalancer}}
                        <h2>{{displayName}} - {{version}}</h2>
                        <div class="cartridge-description">{{description}}</div>
                        <div class="lb-description">This will be auto subscribed for you</div>

                    {{else}}
                        <h2>
                            <a href="{{url ""}}/mycartridges/info/{{cartridgeAlias}}">
                                {{cartridgeAlias}} ({{displayName}} - {{version}})
                            </a>
                        </h2>
                        {{#if multiTenant}}
                            Multi Tenant Enabled
                        {{else}}
                            Single Tenant
                        {{/if}}
                        <div class="toggle-menu-description">{{description}}</div>
                    {{/if}}


                </div>
            {{/each}}
        </div>

    </div>
</div>